<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116580330838-1q3m3lhltr3u4mv5r9lo437t3ovdggj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116580330838-1q3m3lhltr3u4mv5r9lo437t3ovdggj9</string>
	<key>API_KEY</key>
	<string>AIzaSyC-hrOUUvPgFEMgTrwyPxiibOHCZOM9AIE</string>
	<key>GCM_SENDER_ID</key>
	<string>116580330838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.munshot.jobs</string>
	<key>PROJECT_ID</key>
	<string>jobs-6ba68</string>
	<key>STORAGE_BUCKET</key>
	<string>jobs-6ba68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116580330838:ios:7df390536ae8a854cebaf7</string>
	<key>DATABASE_URL</key>
	<string>https://jobs-6ba68.firebaseio.com</string>
</dict>
</plist>